<div class="border-bottom">
	<h2 class="">@(ViewBag.StockName) (@ViewBag.StockSymbol)</h2>
	<h5>@(ViewBag.Quantity) <span class="text-grey">shares at</span> $@(ViewBag.Price)</h5>
	<h5 class="pt"><span class="text-grey">Trade Amount:</span> $@(ViewBag.TradeAmount)</h5>
	<div class="text-grey pt pb">@(ViewBag.OrderDate)</div>
</div>